.wave-bg {
  background-image: url($wave-pattern);
  background-size: 130px;

  &--faded {
    background-image: url($wave-white-opacity);
    background-size: 130px;
  }
}

.wave-bg-blue {
  background-image: url($wave-blue-pattern);
  background-size: 130px;
}