.visible-md-up {
  display: none;
  @media (min-width: $screen-md) {
    display: block;
  }
}

.hidden-md-up {
  @media (min-width: $screen-md) {
    display: none;
  }
}

.visible-sm-up {
  display: none;
  @media (min-width: $screen-sm) {
    display: block;
  }
}

.hidden-sm-up {
  @media (min-width: $screen-sm) {
    display: none;
  }
}