.account-mobile-side-panel {
  position: relative;
  width: 100%;
  
  &__burger {
    position: relative;
    z-index: 3;
    padding: 20px 10px;
  }

  &__container {
    position: relative;
    top: -52px;
  }

  &__panel {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .accordion__container {
    padding: 0;
  }
}