.toast-factory {
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-height: 100%;
  overflow: auto;
  z-index: 9999;
  
  &--has-no-toasts {
    pointer-events: none;
  }

  .toast-message:last-child {
    margin-bottom: 0;
  }
}
