.picture-upload {
  position: relative;
  width: 100%;

  &__section {
    position: relative;
    width: 100%;
    max-width: 150px;
    text-align: center;
    margin-top: 20px;
  }

  &__upload,
  &__upload-text {
    position: relative;
    display: inline-block;

    &--center {
      margin: 0 10px;
    }
  }

  &__file-upload {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}