$images-dir: "../assets/images/";

$logo: $images-dir + "logo.svg";
$wave-pattern: $images-dir + "wave.svg";
$wave-blue-pattern: $images-dir + "wave-blue.svg";
$wave-white-opacity: $images-dir + "wave-white-opacity.svg";