.fee-structure-form {
  margin-bottom: 60px;

  h2.uppercase {
    padding: 30px 0 20px;
    color: $yankees-blue;
  }
  .fee {
    .form__group {
      width: 10%;
      display: inline-block;
      margin: 0px 5px;

      .accordion {
        display: none;
      }

      input.input__input-element {
        line-height: 35px;
      }
    }
    .small {
      display: inline-block;
    }

    .small1 {
      display: inline-block;

      p {
        color: $color-text-inform;
        line-height: 0;
      }
    }

    .error-messages {
      margin-top: 30px;

      p {
        color: $twilight-lavender;
        line-height: 0;
      }
    }
  }

  span {
    font-weight: 600;
  }

  .form-submit-button {
    margin-top: 35px;
  }
}