.horse-ownership-card {

  &__owned-selected {
    width: 40%;
    display: inline-block;

    @media screen and (max-width: 992px) {
      width: 70%;
    }

    .featured-card {

      .featured-card-frame {
        max-width: 500px;

        .featured-card-frame__wrapper.section-shadow--tile {
          border-top: 6px solid black;
          margin-top: 10%;

          .featured-card-heading.featured-card__section-bg {

            .featured-card__section.featured-card-heading__reduced-padding-top {

              .checkbox {

                label.checkbox__label {
                  font-size: 100%;
                  font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
                }
              }

              .button.text-button.ownership__more-btn.text-button--secondary {
                margin: 0;
                padding: 0;
                border: 0;
                position: absolute;
                left: 54%;
                top: 0%;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }

  &__owned-unselected {
    width: 40%;
    display: inline-block;

    @media screen and (max-width: 992px) {
      width: 70%;
    }

    .featured-card {

      .featured-card-frame {
        max-width: 500px;

        .featured-card-frame__wrapper.section-shadow--tile {
          margin-top: 10%;

          .featured-card-heading.featured-card__section-bg {

            .featured-card__section.featured-card-heading__reduced-padding-top {

              .checkbox {

                label.checkbox__label {
                  font-size: 100%;
                  font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
                }
              }

              .button.text-button.ownership__more-btn.text-button--secondary {
                margin: 0;
                padding: 0;
                border: 0;
                position: absolute;
                left: 54%;
                top: 0%;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }

  &__leased-selected {
    width: 40%;
    display: inline-block;

    @media screen and (max-width: 992px) {
      width: 70%;
    }

    .featured-card {

      .featured-card-frame {
        max-width: 500px;

        .featured-card-frame__wrapper.section-shadow--tile {
          border-top: 6px solid black;
          margin-top: 10%;

          .featured-card-heading.featured-card__section-bg {

            .featured-card__section.featured-card-heading__reduced-padding-top {

              .checkbox {

                label.checkbox__label {
                  font-size: 100%;
                  font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
                }
              }

              .button.text-button.ownership__more-btn.text-button--secondary {
                margin: 0;
                padding: 0;
                border: 0;
                position: absolute;
                left: 54%;
                top: 0%;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }

  &__leased-unselected {
    width: 40%;
    display: inline-block;

    @media screen and (max-width: 992px) {
      width: 70%;
    }

    .featured-card {

      .featured-card-frame {
        max-width: 500px;

        .featured-card-frame__wrapper.section-shadow--tile {
          margin-top: 10%;

          .featured-card-heading.featured-card__section-bg {

            .featured-card__section.featured-card-heading__reduced-padding-top {

              .checkbox {

                label.checkbox__label {
                  font-size: 100%;
                  font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
                }
              }

              .button.text-button.ownership__more-btn.text-button--secondary {
                margin: 0;
                padding: 0;
                border: 0;
                position: absolute;
                left: 54%;
                top: 0%;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }
}