.tile-image-content {
  position: relative;
  width: 100%;
  background-color: transparent;

  &--use-bg {
    padding-bottom: 75%;

    .tile-image-content {
      &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
  }

  &--video-aspect {
    padding-bottom: $video-aspect-ratio;
  }

  &--no-margin-bottom {
    margin-bottom: 0;
  }
}