$footer-padding-top: 170px;
$footer-padding-right: 20px;
$footer-padding-bottom: 40px;

.footer {
  min-height: $footer-height;
  background-color: $color-bg-dark;
  padding-top: $footer-padding-top;
  padding-right: $footer-padding-right;
  padding-bottom: $footer-padding-bottom;

  @media all and (max-width: $screen-sm-max) {
    padding-top: $footer-padding-bottom;
  }

  &--text-center{
    text-align: center;
  }

  &__left {

  }

  &__right {

  }

  &__content {
    padding-top: 40px;

    @media all and (min-width: $screen-sm-min) {
      padding-top: 0;
    }
  }

  &__logo {
    position: relative;
    width: 209px;
    height: 75px;
  }

  &__break {
    position: relative;
    display: inline-block;
    max-width: 25px;
    width: 100%;
    height: 1px;
    margin: 15px 0 10px 0;
    background-color: $white;
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__listitem {
    position: relative;
    width: 100%;
    margin-bottom: 5px;

    span {
      text-transform: uppercase;
      color: $white;
      font-size: $tiny-text;
    }
  }

  h3 {
    text-transform: uppercase;
    color: $white;
  }
}
