.side-panel-nav-link {
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &__link {
    &--active,
    &:hover {
      .side-panel-nav-link__link-text {
        color: $cta-link-color;
      }
    }
  }

  &__link-text {
    color: $cta-link-strong;
    transition: color .2s ease-out;
  }
}