.account-card-form {
  position: relative;

  &__form-heading {

  }

  &__grow {
    animation-name: form_grow;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    overflow: hidden;

    @keyframes form_grow {
      0% {
        max-height: 0;
      }
      100% {
        max-height: 500px;
      }
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    &:before {
      color: $icon-cta-close;
    }
  }
}
