.profile-picture {
  position: relative;
  
  &__placeholder {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: $color-bg-placeholder;
  }

  &__picture {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
  }
}